doctype html
html
    head
        title Survey
        meta(charset='utf-8')

    body
        h1 설문조사
        h2=SurveyDescript.descript

          each question in questions
            form(action='/updateSurvey' method='post')
              input(type='hidden' name='surveyNo' value=`${surveyNo}`)
              input(type='hidden' name='queNo' value=`${question.queSeq}`)
              p
                label=question.queSeq
                label 번 질문 :
                label=question.descript
                label=question.Ttype
              p
                label 1.
                input( type='text' name='que_index1' value=`${question.mcq1}` )
              p
                label 2.
                input( type='text' name='que_index2' value=`${question.mcq2}` )
              p
                label 3.
                input( type='text' name='que_index3' value=`${question.mcq3}` )
              p
                label 4.
                input( type='text' name='que_index4' value=`${question.mcq4}` )
              p
                label 5.
                input( type='text' name='que_index5' value=`${question.mcq5}` )
              p
                input(type='submit' value="수정")
