doctype html
html
  head
    title Survey
    meta(charset='utf-8')

  body
    h1 설문조사 관리
    ul
      each result in results
        -var surveyNo = result.SurveyNo
        -var href = "/detail/?id="+surveyNo
        li
          form(action='/deleteSurvey' method='post')

            label=result.descript
            input( type='hidden' name='delete_num' value=`${surveyNo}`)
            input( type='submit' name='delete' value='삭제' )
            //-button(type='button' onclick='location.href="'+href+'"') 수정
    a(href='/create') 설문조사 추가
