doctype html
html
  head
    title Survey
    meta(charset='utf-8')

  body
    form(action='/createSurvey', method='POST')
      label 설문명 :
      input( type='text' name='title' )
      input( type='submit' value='제출' )
