doctype html
html
    head
        title Survey
        meta(charset='utf-8')

    body
        h1 설문조사
        h2=SurveyDescript.descript
        form(action='/submitSurvey' method='post')
            input(type='hidden' name='surveyNo', value=SurveyDescript.SurveyNo)
            each question in questions
                p
                    label=question.queSeq
                    label 번 질문 :
                    label=question.descript

                input(type='radio' name=`answer${question.queSeq}` value='1')
                label= question.mcq1
                input(type='radio' name=`answer${question.queSeq}` value='2')
                label=question.mcq2
                input(type='radio' name=`answer${question.queSeq}` value='3')
                label=question.mcq3
                input(type='radio' name=`answer${question.queSeq}` value='4')
                label=question.mcq4
                input(type='radio' name=`answer${question.queSeq}` value='5')
                label=question.mcq5
                p

            input(type='submit' value="제출")
