doctype html
html
    head
        title Survey
        meta(charset='utf-8')

    body
        h1 설문조사
        ul
            each result in results
                li
                    a(href='/startSurvey/?id=' + result.SurveyNo)=result.descript
