doctype html
html
  head
    title Survey
    meta(charset='utf-8')

  body
    h1 설문조사 관리
    form
      each result in results
        li
          a(href='/StartSurvey?id='+result.SurveyNo)=result.descript

      input(type='submit' value='제출')
