doctype html
html
  head
    title Survey
    meta(charset='utf-8')

  body
    h2= surveytitle
    form(action='/createQuestion', method='POST')
      input(type='hidden' name='surveyNo' value=surveyNo)
      label 질문명 :
      input( type='text' name='que_title' )
      p
      label 성향 :
      select(name='que_tend')
        each val in tendencyType
          option(value=val.QTID) #{val.descript}
      p
      label 1.
      input( type='text' name='que_index1' )
      p
      label 2.
      input( type='text' name='que_index2' )
      p
      label 3.
      input( type='text' name='que_index3' )
      p
      label 4.
      input( type='text' name='que_index4' )
      p
      label 5.
      input( type='text' name='que_index5' )
      p
      input( type='submit' value='제출' )
