.WholeWrapper{
	width: 100%;
	max-width: 1920px;
	max-height: 980px;
	margin: 0px;
	padding: 0px;
}
/*Header 최상단 부분 css*/
.HeaderTopArea{
	clear: both;
	width: 100%;
	min-width: 1080px;
	max-width: 1920px;
	height: 30px;
	border-bottom: 1px solid black;
}
.HeaderTopArea .AreaFlex{
	clear: both;
	width: 1080px;
	height: 30px;
	margin: auto;
}
.HeaderTopArea .LayoutLeft{
	float: left;
	font-size: 0.8rem;
}
.HeaderTopArea .LayoutLeft ul, .HeaderTopArea .LayoutLeft ul li{
	list-style: none;
}
.HeaderTopArea .LayoutLeft ul li{
	float: left;
	position: relative;
	width: 80px;
	text-align: center;
	margin-top: 7px;
}
.LayoutLeftUl ul{
	display: none;
	position: absolute;
}
.LayoutLeftUl li{
	float: none;
}
.HeaderTopArea .LayoutLeft ul li a{
	width: 80px;
	padding: 0px 10px;
}
.HeaderTopArea .LayoutRight{
	float: right;
	font-size: 0.8rem;
}
.HeaderTopArea .LayoutRight ul, .HeaderTopArea .LayoutRight ul li{
	list-style: none;
}
.HeaderTopArea .LayoutRight ul li{
	float: left;
	position: relative;
	width: 80px;
	text-align: center;
	margin-top: 7px;
	border-left: 1px solid #D8D8D8;
}
.HeaderTopArea .LayoutRight ul .HeaderLoginView{
	border-left: 0px;
}
.HeaderTopArea .LayoutRight ul .MyPage{
	width: 100px;
}
.HeaderTopArea .LayoutRight ul li a{
	width: 80px;
	padding: 0px 10px;
	text-align: center;
}
.HeaderTopArea .LayoutRight ul .MyPage a{
	width: 100px;
}
.LayoutRightUl ul{
	display: none;
	position: absolute;
}
.LayoutRightUl li{
	float: none;
}
/*Header 검색 부분*/
.HeaderContainer{
	clear: both;
	width: 100%;
	min-width: 1080px;
	max-width: 1920px;
	height: 80px;
}
.HeaderContainer .AreaFlex{
	clear: both;
	width: 1080px;
	height: 80px;
	margin: auto;
}
.HeaderContainer .AreaFlex .LogoContainer{
	float: left;
	width: 150px;
	margin: 10px 20px;
	vertical-align: middle;
}
.HeaderContainer .AreaFlex .TotalSearch{
	float: left;
	margin: 10px 20px;
}
/*Header Navi 부분*/
.HeaderBotArea{
	clear: both;
	width: 100%;
	min-width: 1080px;
	max-width: 1920px;
	height: 48px;
	background-color: #E6E6E6;
	border-bottom: 2px solid #585858;
}
.HeaderBotArea .AreaFlex{
	clear: both;
	width: 1080px;
	height: 30px;
	margin: auto;
}
.HeaderBotArea .LayoutLeft{
	float: left;
	font-size: 0.8rem;
}
.HeaderBotArea .LayoutLeft ul, .HeaderBotArea .LayoutLeft ul li{
	list-style: none;
}
.HeaderBotArea .LayoutLeft ul li{
	float: left;
	position: relative;
	width: 80px;
	text-align: center;
	margin-top: 7px;
}
.HeaderBotArea .LayoutLeft ul li a{
	width: 80px;
	padding: 0px 10px;
	text-align: center;
}
.HeaderBotArea .LayoutRight{
	float: right;
	font-size: 0.8rem;
}
.HeaderBotArea .LayoutRight ul, .HeaderBotArea .LayoutRight ul li{
	list-style: none;
}
.HeaderBotArea .LayoutRight ul li{
	float: left;
	position: relative;
	width: 80px;
	text-align: center;
	margin-top: 7px;
}
.HeaderBotArea .LayoutRight ul li a{
	width: 80px;
	padding: 0px 10px;
	text-align: center;
}
/*Home영역 */
.HomeWrapper{
	clear: both;
	width: 100%;
	min-width: 1080px;
	max-width: 1920px;
}
.HomeWrapper .AreaFlex{
	clear: both;
	width: 1080px;
	height: 30px;
	margin: auto;
}

