.cartTopInfo{
	clear:both;
	padding-top:25px;
	padding-left:100px;
	font-size:1.5em;
}

.cartWrapper{
	margin-left:70px;
	max-width:800px;
	min-width:600px;
	padding:25px;
}
table{
	cell-padding:10px;
	clear:both;
	margin:auto;
	text-align:center;
	width:80%;
	border:2px solid pink;
}
table thead{
	border:2px solid pink;
}
table tbody .td1{
	border:2px solid pink;
}
table tbody .td2{
	border:2px solid pink;
}
table tbody .td3{
	border:2px solid pink;
}
table tbody .td4{
	border:2px solid pink;
}
#orderbtn{
	margin-left:430px;
	font-size:1.0em;
}
