h2{
	text-align:center;
	font-size:1.3em;
}
.AreaFlex .choice{
	clear:both;
	text-align:center;
	max-width:400px;
	min-width:200px;
	height:200px;
	margin:auto;
	margin-top:70px;
	padding:20px;
	border:4px solid #16440A;
	font-size:1.0em;
}