.WholeWrapper{
	width: 100%;
	max-width: 1920px;
	max-height: 980px;
	margin: 0px;
	padding: 0px;
}
/*Header 최상단 부분 css*/
.HeaderTopArea{
	clear: both;
	width: 100%;
	min-width: 1080px;
	max-width: 1920px;
	height: 30px;
	border-bottom: 1px solid black;
}
.HeaderTopArea .AreaFlex{
	clear: both;
	width: 1080px;
	height: 30px;
	margin: auto;
}
.HeaderTopArea .LayoutLeft{
	float: left;
	font-size: 0.8rem;
}
.HeaderTopArea .LayoutLeft ul, .HeaderTopArea .LayoutLeft ul li{
	list-style: none;
}
.HeaderTopArea .LayoutLeft ul li{
	float: left;
	position: relative;
	width: 80px;
	text-align: center;
	margin-top: 7px;
}
.LayoutLeftUl ul{
	display: none;
	position: absolute;
}
.LayoutLeftUl li{
	float: none;
}
.HeaderTopArea .LayoutLeft ul li a{
	width: 80px;
	padding: 0px 10px;
}
.HeaderTopArea .LayoutRight{
	float: right;
	font-size: 0.8rem;
}
.HeaderTopArea .LayoutRight ul, .HeaderTopArea .LayoutRight ul li{
	list-style: none;
}
.HeaderTopArea .LayoutRight ul li{
	float: left;
	position: relative;
	width: 80px;
	text-align: center;
	margin-top: 7px;
	border-left: 1px solid #D8D8D8;
}
.HeaderTopArea .LayoutRight ul .HeaderLoginView{
	border-left: 0px;
}
.HeaderTopArea .LayoutRight ul .MyPage{
	width: 100px;
}
.HeaderTopArea .LayoutRight ul li a{
	width: 80px;
	padding: 0px 10px;
	text-align: center;
}
.HeaderTopArea .LayoutRight ul .MyPage a{
	width: 100px;
}
.LayoutRightUl ul{
	display: none;
	position: absolute;
}
.LayoutRightUl li{
	float: none;
}
/*Header 검색 부분*/
.HeaderContainer{
	clear: both;
	width: 100%;
	min-width: 1080px;
	max-width: 1920px;
	height: 80px;
}
.HeaderContainer .AreaFlex{
	clear: both;
	width: 1080px;
	height: 80px;
	margin: auto;
}
.HeaderContainer .AreaFlex .LogoContainer{
	float: left;
	width: 150px;
	margin-left:250px;
	margin-top:10px;
	padding:10px;
	vertical-align: middle;
}
.HeaderContainer .AreaFlex .TotalSearch{
	float: left;
	margin: 25px 20px;
}
input#search_keywd.SearchInputBox{
	font-size:1.0rem;
	border: 2px solid #ECC5C5;
	background:#ffffff;		
}
input.SearchBtn{
	font-size:1.0rem;
	font-family:'Nanum Pen Script', sans-serif;
	border: 2px solid #ECC5C5;
	outline:none;
	background:#ffffff;	
}
/*Header Navi 부분*/
.HeaderBotArea{
	clear: both;
	width: 100%;
	min-width: 1080px;
	max-width: 1920px;
	height: 48px;
	position:relative;
	z-index:2;
	background-color: #FFFFFF;
	border-top: 3px solid #ECC5C5;
}
.HeaderBotArea .AreaFlex{
	clear: both;
	width: 1080px;
	height: 30px;
	margin: auto;
}
.HeaderBotArea .LayoutLeft{
	float: left;
	font-family:'Nanum Pen Script', sans-serif;
	font-size: 1.0rem;
	margin-left:200px;
	
}
.HeaderBotArea .LayoutLeft ul, .HeaderBotArea .LayoutLeft ul li{
	list-style: none;
}
.HeaderBotArea .LayoutLeft ul li{
	float: left;
	position: relative;
	width: 100px;
	text-align: center;
	margin-top: 7px;
}
.HeaderBotArea .LayoutLeft ul li a{
	width: 100px;
	padding: 0px 10px;
	text-align: center;
	position:relative;
	z-index:3;
}
.HeaderBotArea .LayoutRight{
	float: right;
	font-size: 3rem;
}
.HeaderBotArea .LayoutRight ul, .HeaderBotArea .LayoutRight ul li{
	list-style: none;
}
.HeaderBotArea .LayoutRight ul li{
	float: left;
	position: relative;
	width: 100px;
	text-align: center;
	margin-top: 7px;
}
.HeaderBotArea .LayoutRight ul li a{
	width: 100px;
	padding: 0px 10px;
	text-align: center;
}
.ProductNaviUl ul{
	display: none;
	position: absolute;
}
.ProductNaviUl li{
	float: none;
}
/*Home영역 */
.HomeWrapper{
	clear: both;
	width: 100%;
	min-width: 1080px;
	max-width: 1920px;
}
.HomeWrapper .AreaFlex{
	clear: both;
	width: 1080px;
	height: 30px;
	margin: auto;
}
.HomeWrapper .AreaFlex .cycle-slide{
	clear: both;
	margin-left: 100px;
	position:relative;
	z-index:1;
}