.Login{
	clear:both;
	max-width:800px;
	min-width:600px;
	width:65%;
	height:200px;
	margin:auto;
	margin-top:70px;
	padding:5px;
	border:4px solid #285CAA;
}
h2{
	font-size:1.3em;
	clear:both;
	margin-left:300px;
	margin-top:25px;
	float:left;
}

.LoginWrapper .MemberLogin{
	clear:both;
	margin-left:200px;
	margin-top:25px;
	line-height:200%;
	float:left;
}

#login_submit_btn{
	font-size:1.0rem;
	border: 2px solid #ECC5C5;
	outline:none;	
	margin-left:300px;
	background:#ECC5C5;
}