h2{
	font-size:1.3em;
	padding-left:100px;
	padding-top:25px;
	margin:auto;
	padding:25px;
}
.HomeWrapper .AreaFlex{
	clear:both;
	margin:auto;
	max-width:800px;
	min-width:600px;
	padding:25px;
}
.HomeWrapper .AreaFlex .MyinfoBasicTable{
	line-height:300%
}
.MyingoBasicTable{
	
}
#my_ifno_form{
	padding-left:150px;
}
th, td{
	cell_padding:10px;
	margin-left : auto;
	margin-right : auto;
	border:2px solid pink;
}
.MyinfoInput{
	margin-left:150px;
	clear:both;
	padding:20px;
}