.myOrderInfoWrapper{
	
}
h2{
	clear:both;
	text-align:center;
	max-width:500px;
	min-width:400px;
	margin:auto;
	padding:50px;
	font-size:1.5em;
	line-height:150%;
}
table{
	clear:both;
	margin:auto;
	width:80%;
	
}
table thead{
	
}
table tbody .td1{
	
}
table tbody .td2{
}
table tbody .td3{
	
}
table tbody .td4{
	
}