.orderTopInfo{
	clear:both;
	max-width:700px;
	min-width:600px;
	padding-top:25px;
	padding-left:100px;
}
h1{
	font-size:1.5em;
	padding-left:100px;
}
h2{
	clear:both;
	margin-left:100px;
	padding-top:25px;
	padding-bottom:25px;
	padding-left:100px;
	font-size:1.2em;
}
.cartWrapper{
	margin-left:150px;
	max-width:700px;
	min-width:600px;
}
.cartWrapper table{
	clear:both;
	padding:10px;
	margin:auto;
	border:2px solid pink;
	text-align:center;
	width:80%;
}
.cartWrapper table thead{
	border:2px solid pink;
}
.cartWrapper table tbody .td1{
	border:2px solid pink;
}
.cartWrapper table tbody .td2{
	border:2px solid pink;
}
.cartWrapper table tbody .td3{
	border:2px solid pink;
}
.cartWrapper table tbody .td4{
	border:2px solid pink;
}
.deliverWrapper{
	margin-left:150px;
	max-width:700px;
	min-width:600px;
}
.deliverWrapper table{
	clear:both;
	padding:10px;
	margin:auto;
	border:2px solid pink;
	text-align:center;
	width:80%;
}
.deliverWrapper table thead{
	border:2px solid pink;
}
.deliverWrapper table tbody .td1{
	border:2px solid pink;
}
.deliverWrapper table tbody .td2{
	border:2px solid pink;
}
.deliverWrapper table tbody .td3{
	border:2px solid pink;
}
.deliverWrapper table tbody .td4{
	border:2px solid pink;
}
#paybtn{
	padding:10px;
	margin-left:430px;
	font-size:1.0em;
}