.finish{
	clear:both;
	text-align:center;
	max-width:500px;
	min-width:400px;
	margin:auto;
	padding:50px;
	font-size:1.5em;
	line-height:150%;
}
table{
	cell-padding:10px;
	clear:both;
	margin:auto;
	text-align:center;
	width:80%;
	border:2px solid pink;
}
table thead{
	border:2px solid pink;
}
table tbody .td1{
	border:2px solid pink;
}
table tbody .td2{
	border:2px solid pink;
}
table tbody .td3{
	border:2px solid pink;
}
table tbody .td4{
	border:2px solid pink;
}
#orderbtn{
	margin-left:430px;
	font-size:1.0em;
}
