h1{
	text-align:center;
	font-size:1.5em;
	padding:20px;
}
.RegiProductMain{
	clear:both;
	max-width:500px;
	min-width:400px;
	margin:auto;
	padding:20px;
	font-size:1.0em;
	line-height:200%;
	border:4px solid #084F06;
}
#regi_product_submit{
	margin-left:350px;
	font-size:1.0em;
}