h1{
	text-align:center;
	font-size:1.5em;
	padding:10px;
}
.RegiItemMain{
	clear:both;
	max-width:500px;
	min-width:400px;
	margin:auto;
	padding:20px;
	font-size:1.0em;
	line-height:200%;
	border:4px solid #285CAA;
}
#regi_item_submit{
	margin-left:450px;
	font-size:1.3em;
}