.ProductInfoTop{
	width : 100%;
}
.ProductInfoWrapper{
	clear:both;
	max-width : 800px;
	min-width : 700px;
	width : 100%;
	height:100px;
	margin:auto;
	margin-top:25px;
}
.ProductInfoWrapper .ProductImg{
	float:left;
	weight:50%;
	height:150px;
}
h4{
	font-size:1.3em;
	line-height:300%;
}
.ProductInfoWrapper .ProductInfoContent .ProductInfo{
	float:left;
	padding-top:50px;
}
.SelectProductOrder{
	padding:25px;
	margin-left:350px;
	float:left;
	
}
.contents{
	max-width : 700px;
	min-width : 600px;
	width : 100%;
	height:20px;
	margin-top:300px;
	margin-left:200px;
	font-size:1.3em;
	text-color:#ffffff;
	background:#352E2E;
	padding:20px;
}
.SellerInfo .SellerInfoTable{
	margin-left:200px;
}
tr{
	clear:both;
	width : 100%;
	height:20px;
	cell-padding:5px;
	}