.productWrapper{
	clear:both;
	max-width : 800px;
	min-width : 600px;
	width : 100%;
	height:100px;
	margin:auto;
	margin-top:25px;
}
.productWrapper .div1{
	float:left;
	width:150px;
	height:50px;
}
.productWrapper .div2{
	float:left;
	width:50%;
	height:50px;
}
.productWrapper .div2 .div2_1{
	height:20px;
}
.productWrapper .div2 .div2_2{
	height:20px;
}
.productWrapper .div3{
	float:left;
	width:20%;
	height:50px;
}