h1{
	text-align:center;
	font-size:1.3em;
}
.UserRegiAreaMain{
	clear:both;
	max-width:500px;
	min-width:400px;
	margin:auto;
	padding:10px;
	font-size:1.0em;
	line-height:150%;
}
#signUPbtn{
	margin-left:350px;
	font-size:1.0em;
}